.root {
    width: 100%;
    position: absolute;
    top: 34vw;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

.build {
    width: 25%;
    height: 17vw;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.build:nth-child(2n) {
    transform: translateX(50%);
}

